.centerSpinner{
  margin: auto;
  width: 50%;
}
.mat-form-field {
  width: 100%;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}

agm-map {
  height: 300px;
}

::ng-deep .gm-style-iw-d{
  max-height: 190px !important;
  min-width: 100px !important;
}

.btn-success, .btn-warning{
  color: #FFF !important;
}

.ngx-datatable .datatable-header-cell {
  cursor: pointer;
}

.ngx-datatable .datatable-header-cell i {
  margin-left: 5px;
}

.ngx-datatable .datatable-header-cell:hover {
  background-color: #f5f5f5;
}

.table-responsive-wrapper {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

