<div class="row" *ngIf="!addedlang && !working ">
	<div class="col-lg-12 col-12">


		<div class="card">
			<div class="card-header">
			  <h4 class="card-title">Gestión de usuarios pendientes de activación</h4>
			  <div class="float-right">
				<button class="mb-0 btn btn-dark btn-sm"
					(click)="onSubmitExportData()">{{'generics.ExportData' | translate }}</button>
				<div class="d-none"><span id="content"></span></div>
			</div>
			</div>
			<div class="center-elements" *ngIf="loadingUsers">
			  <div>
				<p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
			  </div>
			</div>
			<div class="mt-2 table-responsive" *ngIf="!loadingUsers && users.length>0">
			  <ngx-datatable 
				class="bootstrap fullscreen" 
				[columnMode]="'flex'" 
				[headerHeight]="50"
				[footerHeight]="50" 
				[rowHeight]="'auto'" 
				[rows]="users" 
				[limit]="10">
		  
				<ngx-datatable-column name="Nombre" prop="userName" [flexGrow]="2" [sortable]="true">
				  <ng-template let-value="value" ngx-datatable-cell-template>
					<span>{{value}}</span>
				  </ng-template>
				</ngx-datatable-column>
		  
				<ngx-datatable-column name="Email" prop="email" [flexGrow]="3" [sortable]="true">
				  <ng-template let-value="value" ngx-datatable-cell-template>
					<span>{{value}}</span>
				  </ng-template>
				</ngx-datatable-column>
		  
				<ngx-datatable-column name="Posición" prop="position" [flexGrow]="2" [sortable]="true">
				  <ng-template let-value="value" ngx-datatable-cell-template>
					<span>{{value}}</span>
				  </ng-template>
				</ngx-datatable-column>
		  
				<ngx-datatable-column name="Institución" prop="institution" [flexGrow]="2" [sortable]="true">
				  <ng-template let-value="value" ngx-datatable-cell-template>
					<span>{{value}}</span>
				  </ng-template>
				</ngx-datatable-column>
		  
				<ngx-datatable-column name="Estado" prop="confirmed" [flexGrow]="2" [sortable]="true">
				  <ng-template let-value="value" ngx-datatable-cell-template>
					<span class="badge" [ngClass]="value ? 'badge-success' : 'badge-warning'">
					  {{value ? 'Activada' : 'Pendiente'}}
					</span>
				  </ng-template>
				</ngx-datatable-column>
		  
				<ngx-datatable-column name="Acciones" [flexGrow]="2" [sortable]="false">
				  <ng-template let-row="row" ngx-datatable-cell-template>
					<button *ngIf="!row.confirmed" 
							class="btn btn-sm btn-primary mr-2" 
							(click)="activateUser(row)">
					  <i class="fa fa-check"></i> Activar
					</button>
					<button *ngIf="row.confirmed" 
							class="btn btn-sm btn-warning" 
							(click)="deactivateUser(row)">
					  <i class="fa fa-ban"></i> Desactivar
					</button>
				  </ng-template>
				</ngx-datatable-column>
		  
			  </ngx-datatable>
			</div>
			<div class="card-body table-responsive" *ngIf="!loadingUsers && users.length==0">
			  No hay usuarios pendientes de activación
			</div>
		  </div>

	</div>
</div>
<div class="col-lg-12 col-12 form-group" *ngIf="working">
	<div>
		<p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
	</div>
	<div>{{'generics.Sending' | translate }}...</div>
</div>