#map {
  height: 70vh;
  width: 100%;
}

::ng-deep #atlas-map-state,
::ng-deep #atlas-map-style,
::ng-deep #atlas-map-shortcuts,
::ng-deep .atlas-control-container {
  display: none !important;
}

.description-text {
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.2;
  max-width: 90%;
  margin-top: 2px;
}

.need-type-filter {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.stats {
  p {
    margin-bottom: 0.5rem;
  }
}

mat-card {
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  #map {
    height: 50vh;
  }
  .container-fluid {
    padding: 0.5rem;
  }
  
  mat-card {
    margin-bottom: 0.5rem;
  }
}