<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded damemarger custom-navbar" style="padding: 0 25px !important;">
    <div class="container-fluid">
      <div class="d-none">
          <button type="button" class="d-lg-none navbar-toggle float-left white" data-toggle="collapse" (click)="toggleSidebar()">
              <span class="sr-only">{{'navbar.Toggle navigation' | translate }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <span class="navbar-header-logos d-none d-lg-block">
            <img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-conectamosvalencia.png' />
            <!--<img *ngIf="!isHomePage" style="cursor:pointer;" class="logo-img" src='assets/img/logo-conectamosvalencia.png' [routerLink]="redirectUrl" />-->
          </span>
      </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
              <ul class="navbar-nav m-r-0" *ngIf="role=='User'">
                <li class="nav-item d-flex">
                  <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/user/myresources">
                    <i class="ft-user font-medium-3 white" [ngClass]="{'grey': actualUrl=='/user/myresources'}"></i>
                    <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/user/myresources'}">Mis recursos</p>
                  </a>
                </li>
                <li class="nav-item d-flex">
                  <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" href="javascript:;" (click)="logout()" title="{{'navbar.Logout' | translate }}">
                    <i class="ft-power font-medium-3 white"></i>
                    <p class="d-none d-md-inline-block mb-0 ml-1">Cerrar sesión</p>
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav m-r-0" *ngIf="role=='Admin'">
                <li class="nav-item d-flex">
                  <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/admin/resources">
                    <i class="ft-list font-medium-3 white" [ngClass]="{'grey': actualUrl=='/admin/resources'}"></i>
                    <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/admin/resources'}">Panel de gestión</p>
                  </a>
                </li>
                <li class="nav-item d-flex">
                  <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/user/myresources">
                    <i class="ft-user font-medium-3 white" [ngClass]="{'grey': actualUrl=='/user/myresources'}"></i>
                    <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/user/myresources'}">Mis recursos</p>
                  </a>
                </li>
                <li class="nav-item d-flex">
                  <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/admin/mapa">
                    <i class="ft-map font-medium-3 white" [ngClass]="{'grey': actualUrl=='/admin/mapa'}"></i>
                    <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/admin/mapa'}">Mapa</p>
                  </a>
                </li>
                <li class="nav-item d-flex">
                  <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" href="javascript:;" (click)="logout()" title="{{'navbar.Logout' | translate }}">
                    <i class="ft-power font-medium-3 white"></i>
                    <p class="d-none d-md-inline-block mb-0 ml-1">Cerrar sesión</p>
                  </a>
                </li>
              </ul>
                <ul class="navbar-nav m-r-0" *ngIf="role=='SuperAdmin'">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/superadmin/users">
                      <i class="ft-users font-medium-3 white" [ngClass]="{'grey': actualUrl=='/superadmin/users'}"></i>
                      <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/superadmin/users'}">Usuarios</p>
                    </a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/admin/resources">
                      <i class="ft-list font-medium-3 white" [ngClass]="{'grey': actualUrl=='/admin/resources'}"></i>
                      <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/admin/resources'}">Panel de gestión</p>
                    </a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/user/myresources">
                      <i class="ft-user font-medium-3 white" [ngClass]="{'grey': actualUrl=='/user/myresources'}"></i>
                      <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/user/myresources'}">Mis recursos</p>
                    </a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link d-flex align-items-center justify-content-center flex-grow-1" routerLink="/admin/mapa">
                      <i class="ft-map font-medium-3 white" [ngClass]="{'grey': actualUrl=='/admin/mapa'}"></i>
                      <p class="d-none d-md-inline-block mb-0 ml-1" [ngClass]="{'grey': actualUrl=='/admin/mapa'}">Mapa</p>
                    </a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:;" (click)="logout()" title="{{'navbar.Logout' | translate }}">
                      <i class="ft-power font-medium-3 white"></i>
                      <p class="d-none">{{'navbar.Logout' | translate }}</p>
                  </a>
              </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
